# vim: set number ts=4 sw=4 ai et:

[buildout]
extensions = mr.developer
extends =
    naaya.cfg
    versions.cfg
    sources.cfg
parts =
    zeoserver
    instance
    mail-sender
#    newrelic
find-links =
    http://eggshop.eaudeweb.ro
newest = false
auto-checkout =
    NaayaBundles-Forum
#    collective.newrelic
always-checkout = true

[instance]
<= zope-instance
recipe = plone.recipe.zope2instance
