# no longer needed, the dump is updated only on forum.eionet.europa.eu,
# and used on archives and projects, too
#*/15 * * * * /var/local/groupware/bin/dump_ldap

*/20 * * * * curl https://projects.eionet.europa.eu/cron_heartbeat >>/var/local/groupware/var/log/cron_tab_out.log 2>&1

* * * * * /var/local/groupware/bin/mail-sender --hostname postfix /var/local/groupware/var/naaya-mail-queue

00 17 * * Sun /var/local/groupware/bin/zeopack

1 1 * * * /var/local/groupware/bin/repozo -Bz -r /var/local/groupware/var/zeoserver/repozo -f /var/local/groupware/var/zeoserver/filestorage/Data.fs > /dev/null 2>&1
