# vim: set number ts=4 sw=4 ai et:

[buildout]
extensions = mr.developer
extends =
    naaya.cfg
    versions.cfg
    sources.cfg
parts =
    zeoserver
    instance
    ldapdump
    mail-sender
    newrelic
#    autodisable
find-links =
    http://eggshop.eaudeweb.ro
newest = false
auto-checkout =
    NaayaBundles-Forum
    collective.newrelic
always-checkout = true

[instance]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
http-address = 80
zope-conf-additional =
    maximum-number-of-session-objects 10000
environment-vars =
    ${zope-instance:environment-vars}
    GA_ID UA-17090641-1
    NETWORK_NAME EIONET
    NEW_RELIC_ENABLED true
    NEW_RELIC_CONFIG_FILE ${buildout:directory}/newrelic.ini
    NEW_RELIC_ENVIRONMENT production
eggs =
    ${zope-instance:eggs}
    collective.newrelic
zcml =
    ${zope-instance:zcml}
    collective.newrelic

[newrelic]
recipe = zc.recipe.egg:scripts
eggs = newrelic

#if it will be used, this needs to be updated to the rancher architecture
#(there is no zope-instance-0 anymore)
#[autodisable]
#recipe = z3c.recipe.usercrontab
## run on the second of all months, at 02:00 in the morning
#times = 0 2 2 * *
#command = ${buildout:directory}/bin/zope-instance-0 run ${buildout:directory}/bin/auto_disable_users
