#Disabled due to 80233

*/20 * * * * curl http://forum.eionet.europa.eu/cron_heartbeat >>/var/local/groupware/var/log/cron_tab_out.log 2>&1

* * * * * /var/local/groupware/bin/mail-sender --hostname postfix /var/local/groupware/var/naaya-mail-queue

00 17 * * Sun /var/local/groupware/bin/zeopack

1 1 * * * /var/local/groupware/bin/repozo -Bz -r /var/local/groupware/var/zeoserver/repozo -f /var/local/groupware/var/zeoserver/filestorage/Data.fs > /dev/null 2>&1

#Auto disable users - deactivated - not reliable
#0 2 2 * * /var/local/groupware/bin/instance run /var/local/groupware/bin/auto_disable_users
