[zope-instance]
recipe = plone.recipe.zope2instance
effective-user = zope
user = admin:admin
eggs =
    ispraforum
    edw-pycaptcha
    edw-cookiecrumbler
#    edw-extfile
    repoze.sendmail
    zope.app.i18n
    zope.app.interface
    zope.app.component
    zope.globalrequest
    plone.keyring
    five.localsitemanager

    edw-cookiecrumbler
    edw.circaimport
    eea.rdfcalendar
    eea.ldapadmin
    eea.userseditor
    naayabundles_forum
    naaya.content-compat
    naaya.content.meeting
    naaya.content.talkback
    naaya.groupware
    naaya.gwapplications
    naaya.ldapdump
    naaya.observatory
    naaya.photoarchive
    naaya.updater
    Products.NaayaForum
    Products.LDAPUserFolder
    Products.ZSPARQLMethod
    Products.ZMIntrospection
    Products.NaayaGlossary
    xlwt
    raven
zcml =
    ispraforum
    edw.circaimport
    edw.circaimport-meta
    eea.ldapadmin
    eea.userseditor
    naayabundles_forum
    naaya.content.bfile
    naaya.content.meeting
    naaya.content.talkback
    naaya.groupware
    naaya.gwapplications
    naaya.ldapdump-meta
    naaya.observatory
_mail_queue_path = ${buildout:directory}/var/naaya-mail-queue
environment-vars =
    SITES_LOG_PATH ${buildout:directory}/var/log/site_loggers
    PYTHON_EGG_CACHE ${buildout:directory}/var/egg-cache
    NAAYA_MAIL_QUEUE ${:_mail_queue_path}
    SENTRY_DSN ${secrets:sentry_dsn}
    AKISMET_API_KEY b2e6ebf3c311
    GA_DOMAIN_NAME
zcml-additional =
  <configure xmlns:ld="http://ns.eaudeweb.ro/naaya.ldapdump"
             xmlns:circaimport="http://ns.eaudeweb.ro/edw.circaimport">
    <ld:reader path="${buildout:directory}/var/ldapdump/config.yaml" />
    <circaimport:root path="${buildout:directory}/var/circa_import"/>
  </configure>

[zeoclient]
zeo-client = on
zeo-address = ${zeoserver:zeo-address}
shared-blob = on
blob-storage = ${zeoserver:blob-storage}

[zeoserver]
recipe = plone.recipe.zeoserver
#effective-user = zope
#pack-gc = false
#pack-keep-old = false
pack-days = 30
eggs =
    ZODB3
    Zope2
    zope.proxy
    ZopeUndo
    tempstorage
file-storage = ${buildout:directory}/var/zeoserver/filestorage/Data.fs
blob-storage = ${buildout:directory}/var/zeoserver/blobs/blobstorage
zeo-address = ${buildout:directory}/var/zeoserver/zeo.socket
socket-name = ${buildout:directory}/var/zeoserver/daemon.socket
zeo-conf-additional =
     %import tempstorage
     <temporarystorage temp>
         name temporary storage for sessioning
     </temporarystorage>
_client-temporary-storage-cfg =
     <zodb_db temporary>
         mount-point /temp_folder
         container-class Products.TemporaryFolder.TemporaryContainer
         cache-size 5000
         <zeoclient>
           server ${zeoserver:zeo-address}
           storage temp
           name zeo-temp-storage
           cache-size 100MB
         </zeoclient>
     </zodb_db>

[ldapdump]
recipe = zc.recipe.egg
eggs = naaya.ldapdump
arguments = "${buildout:directory}/var/ldapdump/config.yaml"

[mail-sender]
recipe = zc.recipe.egg
eggs = repoze.sendmail
scripts = qp=mail-sender

[haproxy-build]
recipe = plone.recipe.haproxy
url = http://www.haproxy.org/download/1.6/src/haproxy-1.6.6.tar.gz
cpu = generic
target = generic

[haproxy-config]
recipe = collective.recipe.template
input = ${buildout:directory}/haproxy.tpl
output = ${buildout:directory}/haproxy.cfg
frontend-bind = 127.0.0.1:12080
frontend-backend = Zopes
backends =
    backend Zopes
        balance roundrobin
        option httpchk
        server Zope1 127.0.0.1:12081 check
        server Zope2 127.0.0.1:12082 check

[cluster]
recipe = plone.recipe.cluster
start =
    ${buildout:bin-directory}/zeoserver start
    ${buildout:bin-directory}/zope-instance-0 start
    ${buildout:bin-directory}/zope-instance-1 start
    /var/local/forum/bin/haproxy -D -f /var/local/forum/haproxy.cfg
stop =
    kill -9 `pidof haproxy`
    ${buildout:bin-directory}/zope-instance-0 stop
    ${buildout:bin-directory}/zope-instance-1 stop
    ${buildout:bin-directory}/zeoserver stop
restart =
    kill -9 `pidof haproxy`
    ${buildout:bin-directory}/zeoserver restart
    ${buildout:bin-directory}/zope-instance-0 restart
    ${buildout:bin-directory}/zope-instance-1 restart
    /var/local/forum/bin/haproxy -D -f /var/local/forum/haproxy.cfg
