[buildout]
extends =
    naaya.cfg
    versions.cfg
    secret.cfg
    sources.cfg
parts =
    zeoserver
    zope-instance-0
    zope-instance-1
    zope-instance-2
    zope-instance-3
    zope-instance-dev
    zope-instance-test
    ldapdump
    poundbuild
    poundconfig
    cluster
    mail-sender
    newrelic
find-links =
    http://eggshop.eaudeweb.ro
newest = false
eggs-directory = ${buildout:directory}/../common/eggs
develop =
    ${buildout:directory}/src/NaayaBundles-Groupware
    ${buildout:directory}/src/collective.newrelic
extensions = mr.developer

#EW Specific
[zope-instance-ew-common]
eggs =
    naaya.fake_envirowindows
    naaya.content-sdo
    naaya.ew-aoa-library
    Products.NaayaChatter
#   Products.EnviroWindowsApplications
#   Products.EnviroWindowsInstaller
    Products.NaayaLinkChecker
    naayabundles_ew
    naaya.content.case-study
    raven
    naayabundles_groupware
    eea.aoamap
    Products.NaayaSimpleSurvey
    naaya_survey
    Products.NaayaCalendar
    Products.NaayaChatter
    Products.NaayaContent.NyBlogEntry
    Products.NaayaContent.NyConsultation
    Products.NaayaContent.NyPublication
    Products.NaayaContent.NyStudy
    Products.NaayaForum
    Products.NaayaGlossary
    Products.NaayaLinkChecker
    Products.NaayaSimpleSurvey
    Products.OMI

zcml =
    naaya.content.info
    naaya.content.infofolder
    naaya.ew_aoa_library
    naaya.Products.NaayaCore.AnonymousNotification
    naayabundles_ew
    naayabundles_groupware
    naaya.content.case_study
    eea.aoamap

[zope-instance-0]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
zodb-temporary-storage = ${zeoserver:_client-temporary-storage-cfg}
http-address = 12091
eggs = 
   ${zope-instance:eggs}
   ${zope-instance-ew-common:eggs}
zcml = 
   ${zope-instance:zcml}
   ${zope-instance-ew-common:zcml}

[zope-instance-1]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
zodb-temporary-storage = ${zeoserver:_client-temporary-storage-cfg}
http-address = 16092
eggs = 
   ${zope-instance:eggs}
   ${zope-instance-ew-common:eggs}
zcml = 
   ${zope-instance:zcml}
   ${zope-instance-ew-common:zcml}

[zope-instance-2]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
zodb-temporary-storage = ${zeoserver:_client-temporary-storage-cfg}
http-address = 16093
eggs = 
   ${zope-instance:eggs}
   ${zope-instance-ew-common:eggs}
zcml = 
   ${zope-instance:zcml}
   ${zope-instance-ew-common:zcml}

[zope-instance-3]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
zodb-temporary-storage = ${zeoserver:_client-temporary-storage-cfg}
http-address = 16094
eggs = 
   ${zope-instance:eggs}
   ${zope-instance-ew-common:eggs}
zcml = 
   ${zope-instance:zcml}
   ${zope-instance-ew-common:zcml}

[zope-instance-dev]
<= zope-instance
   zeoclient
recipe = plone.recipe.zope2instance
zodb-temporary-storage = ${zeoserver:_client-temporary-storage-cfg}
http-address = 16099
eggs =
    ${zope-instance:eggs}
    Products.ZMIntrospection
   ${zope-instance-ew-common:eggs}
zcml = 
   ${zope-instance:zcml}
   ${zope-instance-ew-common:zcml}

[zope-instance-test]
<= zope-instance
   zope-instance-ew-common
recipe = plone.recipe.zope2instance
http-address = 16089
file-storage = zope-instance-test-zodb/filestorage/Data.fs
blob-storage = var/zope-instance-test-zodb/blobstorage
eggs =
    ${zope-instance:eggs}
    Products.ZMIntrospection

[poundconfig]
balancers =
  one 0.0.0.0:16082 127.0.0.1:16091 127.0.0.1:16092 127.0.0.1:16093 127.0.0.1:16094

[cluster]
recipe = plone.recipe.cluster
start =
    ${buildout:bin-directory}/zeoserver start
    ${buildout:bin-directory}/zope-instance-0 start
    ${buildout:bin-directory}/zope-instance-1 start
    ${buildout:bin-directory}/zope-instance-2 start
    ${buildout:bin-directory}/zope-instance-3 start
    ${buildout:bin-directory}/poundctl start
stop =
    ${buildout:bin-directory}/poundctl stop
    ${buildout:bin-directory}/zope-instance-0 stop
    ${buildout:bin-directory}/zope-instance-1 stop
    ${buildout:bin-directory}/zope-instance-2 stop
    ${buildout:bin-directory}/zope-instance-3 stop
    ${buildout:bin-directory}/zeoserver stop
restart =
    ${buildout:bin-directory}/zeoserver restart
    ${buildout:bin-directory}/zope-instance-0 restart
    ${buildout:bin-directory}/zope-instance-1 restart
    ${buildout:bin-directory}/zope-instance-2 restart
    ${buildout:bin-directory}/zope-instance-3 restart
    ${buildout:bin-directory}/poundctl restart

[newrelic]
recipe = zc.recipe.egg:scripts
eggs = newrelic

[poundconfig]
recipe = plone.recipe.pound:config
socket = ${buildout:directory}/var/poundctl.socket
owner = zope
group = zope
timeout = 60
grace = 10
log_level = 0
